In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/train_clean.csv')

In [3]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.00,0,91.00,0,0,58.00,1,0,55.0,1,58.80,1,270000.000000
1,2,0,79.33,1,78.33,0,1,77.48,1,1,86.5,0,66.28,1,200000.000000
2,3,0,65.00,1,68.00,1,2,64.00,0,0,75.0,0,57.80,1,250000.000000
3,4,0,56.00,1,52.00,1,1,52.00,1,0,66.0,1,59.43,0,288655.405405
4,5,0,85.80,1,73.60,1,0,73.30,0,0,96.8,0,55.50,1,425000.000000

In [6]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
df.to_sql('campus', con=engine, if_exists='replace', index_label='id')

215

In [7]:
import os

In [8]:
os.path.join("D:","data","campus.csv")

'D:data\\campus.csv'

In [ ]:
df.to_csv()