In [21]:
import pandas as pd
import pickle

In [22]:
model = pickle.load(open("../code/model_file/best_model.pkl","rb"))
scaler = pickle.load(open("../code/model_file/scaling.pkl","rb"))

In [23]:
df = pd.read_csv("../code/clean_data/clean_train.csv", )

In [24]:
df.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,0,67.00,0,91.00,0,0,58.00,1,0,55.0,1,58.80,1,270000.000000
1,0,79.33,1,78.33,0,1,77.48,1,1,86.5,0,66.28,1,200000.000000
2,0,65.00,1,68.00,1,2,64.00,0,0,75.0,0,57.80,1,250000.000000
3,0,56.00,1,52.00,1,1,52.00,1,0,66.0,1,59.43,0,288655.405405
4,0,85.80,1,73.60,1,0,73.30,0,0,96.8,0,55.50,1,425000.000000

In [25]:
X = df.drop(columns=['status'])

In [26]:
X

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
0,0,67.00,0,91.00,0,0,58.00,1,0,55.0,1,58.80,270000.000000
1,0,79.33,1,78.33,0,1,77.48,1,1,86.5,0,66.28,200000.000000
2,0,65.00,1,68.00,1,2,64.00,0,0,75.0,0,57.80,250000.000000
3,0,56.00,1,52.00,1,1,52.00,1,0,66.0,1,59.43,288655.405405
4,0,85.80,1,73.60,1,0,73.30,0,0,96.8,0,55.50,425000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,0,80.60,0,82.00,0,0,77.60,0,0,91.0,0,74.49,400000.000000
211,0,58.00,0,60.00,0,1,72.00,1,0,74.0,0,53.62,275000.000000
212,0,67.00,0,67.00,0,0,73.00,0,1,59.0,0,69.72,295000.000000
213,1,74.00,0,66.00,0,0,58.00,0,0,70.0,1,60.23,204000.000000
214,0,62.00,1,58.00,0,1,53.00,0,0,89.0,1,60.22,288655.405405

In [27]:
y = df['status']

In [28]:
model.score(X, y)

0.8

In [29]:
from sklearn.metrics import precision_score, recall_score

In [30]:
X.columns

Index(['gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p', 'salary'],
      dtype='object')

In [31]:
y

0      1
1      1
2      1
3      0
4      1
      ..
210    1
211    1
212    1
213    1
214    0
Name: status, Length: 215, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X = df.drop(columns=['status'], axis=1)
y = df['status']
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [34]:
X_train.shape

(161, 13)

In [35]:
X_test.shape

(54, 13)

In [36]:
model.score(X_train,y_train)

0.782608695652174

In [37]:
model.score(X_test,y_test)

0.8518518518518519

In [38]:
y_pred = model.predict(X_test)

In [39]:
column_names = scaler.feature_names_in_
column_names

array(['gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'salary'], dtype=object)

In [40]:
from sklearn.metrics import precision_score, confusion_matrix, recall_score, f1_score, accuracy_score

In [41]:
precision_score(y_test, y_pred)

0.9705882352941176

In [42]:
confusion_matrix(y_test, y_pred)

array([[13,  1],
       [ 7, 33]], dtype=int64)

In [43]:
f1_score(y_test, y_pred)

0.8918918918918919

In [44]:
recall_score(y_test, y_pred)

0.825

In [45]:
accuracy_score(y_test, y_pred)

0.8518518518518519

In [47]:
model.predict([[0,67.0,0,91.0,0,0,58.0,1,0,55.0,1,58.8,270000.0]])

C:\Users\aksha\miniconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [49]:
model.predict([[0,56.0,1,52.0,1,1,52.0,1,0,66.0,1,59.43,288655.4054054054]])

C:\Users\aksha\miniconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

0