In [74]:
import pandas as pd
import pickle

In [75]:
model = pickle.load(open("../code/model_file/best_model.pkl","rb"))
scaler = pickle.load(open("../code/model_file/scaling.pkl","rb"))

In [76]:
model.predict_proba([[0,79.33,1,78.33,0,1,77.48,1,1,86.5,0,66.28,200000.0]])

array([[0.52439024, 0.47560976]])

In [77]:
model.predict([[0,73.0,1,79.0,1,0,72.0,0,0,91.34,0,61.29,231000.0]])

array([0], dtype=int64)

In [78]:
df = pd.read_csv("../code/clean_data/clean_train.csv", )

In [79]:
df.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,0,67.00,0,91.00,0,0,58.00,1,0,55.0,1,58.80,1,270000.000000
1,0,79.33,1,78.33,0,1,77.48,1,1,86.5,0,66.28,1,200000.000000
2,0,65.00,1,68.00,1,2,64.00,0,0,75.0,0,57.80,1,250000.000000
3,0,56.00,1,52.00,1,1,52.00,1,0,66.0,1,59.43,0,288655.405405
4,0,85.80,1,73.60,1,0,73.30,0,0,96.8,0,55.50,1,425000.000000

In [80]:
X = df.drop(columns=['status'])

In [81]:
X

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
0,0,67.00,0,91.00,0,0,58.00,1,0,55.0,1,58.80,270000.000000
1,0,79.33,1,78.33,0,1,77.48,1,1,86.5,0,66.28,200000.000000
2,0,65.00,1,68.00,1,2,64.00,0,0,75.0,0,57.80,250000.000000
3,0,56.00,1,52.00,1,1,52.00,1,0,66.0,1,59.43,288655.405405
4,0,85.80,1,73.60,1,0,73.30,0,0,96.8,0,55.50,425000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,0,80.60,0,82.00,0,0,77.60,0,0,91.0,0,74.49,400000.000000
211,0,58.00,0,60.00,0,1,72.00,1,0,74.0,0,53.62,275000.000000
212,0,67.00,0,67.00,0,0,73.00,0,1,59.0,0,69.72,295000.000000
213,1,74.00,0,66.00,0,0,58.00,0,0,70.0,1,60.23,204000.000000
214,0,62.00,1,58.00,0,1,53.00,0,0,89.0,1,60.22,288655.405405

In [82]:
y = df['status']

In [83]:
scaled_X = scaler.transform(X)

In [84]:
df_new = pd.DataFrame(scaled_X, columns=X.columns)

In [85]:
model.predict([scaled_X[0]])

array([1], dtype=int64)

In [86]:
model.score(scaled_X, y)

0.4511627906976744

In [87]:
from sklearn.metrics import precision_score, recall_score

In [88]:
X.columns

Index(['gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p', 'salary'],
      dtype='object')

In [89]:
df_new

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
0,-0.728431,-0.081387,-1.128152,2.105171,-0.782881,-0.842081,-1.208299,1.196249,-0.739183,-1.375963,1.191367,-0.621788,-0.276295
1,-0.728431,1.071624,0.886405,0.978814,-0.782881,0.936964,1.513636,1.196249,1.352845,0.996881,-0.839372,0.718242,-1.063670
2,-0.728431,-0.268412,0.886405,0.060481,1.277333,2.716009,-0.369920,-0.616250,-0.739183,0.130604,-0.839372,-0.800937,-0.501260
3,-0.728431,-1.110026,0.886405,-1.361911,1.277333,0.936964,-2.046677,1.196249,-0.739183,-0.547351,1.191367,-0.508925,-0.066456
4,-0.728431,1.676650,0.886405,0.558319,1.277333,-0.842081,0.929566,-0.616250,-0.739183,1.772763,-0.839372,-1.212978,1.467177
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,-0.728431,1.190385,-1.128152,1.305075,-0.782881,-0.842081,1.530404,-0.616250,-0.739183,1.335858,-0.839372,2.189051,1.185971
211,-0.728431,-0.923001,-1.128152,-0.650715,-0.782881,0.936964,0.747917,1.196249,-0.739183,0.055276,-0.839372,-1.549777,-0.220054
212,-0.728431,-0.081387,-1.128152,-0.028418,-0.782881,-0.842081,0.887647,-0.616250,1.352845,-1.074650,-0.839372,1.334513,0.004910
213,1.372813,0.573201,-1.128152,-0.117318,-0.782881,-0.842081,-1.208299,-0.616250,-0.739183,-0.246038,1.191367,-0.365606,-1.018677
214,-0.728431,-0.548950,0.886405,-0.828514,-0.782881,0.936964,-1.906947,-0.616250,-0.739183,1.185202,1.191367,-0.367398,-0.066456

In [90]:
y

0      1
1      1
2      1
3      0
4      1
      ..
210    1
211    1
212    1
213    1
214    0
Name: status, Length: 215, dtype: int64

In [91]:
df_new['status'] = y

In [92]:
df_new

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary,status
0,-0.728431,-0.081387,-1.128152,2.105171,-0.782881,-0.842081,-1.208299,1.196249,-0.739183,-1.375963,1.191367,-0.621788,-0.276295,1
1,-0.728431,1.071624,0.886405,0.978814,-0.782881,0.936964,1.513636,1.196249,1.352845,0.996881,-0.839372,0.718242,-1.063670,1
2,-0.728431,-0.268412,0.886405,0.060481,1.277333,2.716009,-0.369920,-0.616250,-0.739183,0.130604,-0.839372,-0.800937,-0.501260,1
3,-0.728431,-1.110026,0.886405,-1.361911,1.277333,0.936964,-2.046677,1.196249,-0.739183,-0.547351,1.191367,-0.508925,-0.066456,0
4,-0.728431,1.676650,0.886405,0.558319,1.277333,-0.842081,0.929566,-0.616250,-0.739183,1.772763,-0.839372,-1.212978,1.467177,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,-0.728431,1.190385,-1.128152,1.305075,-0.782881,-0.842081,1.530404,-0.616250,-0.739183,1.335858,-0.839372,2.189051,1.185971,1
211,-0.728431,-0.923001,-1.128152,-0.650715,-0.782881,0.936964,0.747917,1.196249,-0.739183,0.055276,-0.839372,-1.549777,-0.220054,1
212,-0.728431,-0.081387,-1.128152,-0.028418,-0.782881,-0.842081,0.887647,-0.616250,1.352845,-1.074650,-0.839372,1.334513,0.004910,1
213,1.372813,0.573201,-1.128152,-0.117318,-0.782881,-0.842081,-1.208299,-0.616250,-0.739183,-0.246038,1.191367,-0.365606,-1.018677,1
214,-0.728431,-0.548950,0.886405,-0.828514,-0.782881,0.936964,-1.906947,-0.616250,-0.739183,1.185202,1.191367,-0.367398,-0.066456,0

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
X = df_new.drop(columns=['status'], axis=1)
y = df_new['status']
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [95]:
X_train.shape

(161, 13)

In [96]:
X_test.shape

(54, 13)

In [97]:
model.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=2, min_samples_leaf=50)

In [98]:
model.score(X_train,y_train)

0.7515527950310559

In [99]:
model.score(X_test,y_test)

0.7777777777777778

In [100]:
y_pred = model.predict(X_test)

In [101]:
df_new

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary,status
0,-0.728431,-0.081387,-1.128152,2.105171,-0.782881,-0.842081,-1.208299,1.196249,-0.739183,-1.375963,1.191367,-0.621788,-0.276295,1
1,-0.728431,1.071624,0.886405,0.978814,-0.782881,0.936964,1.513636,1.196249,1.352845,0.996881,-0.839372,0.718242,-1.063670,1
2,-0.728431,-0.268412,0.886405,0.060481,1.277333,2.716009,-0.369920,-0.616250,-0.739183,0.130604,-0.839372,-0.800937,-0.501260,1
3,-0.728431,-1.110026,0.886405,-1.361911,1.277333,0.936964,-2.046677,1.196249,-0.739183,-0.547351,1.191367,-0.508925,-0.066456,0
4,-0.728431,1.676650,0.886405,0.558319,1.277333,-0.842081,0.929566,-0.616250,-0.739183,1.772763,-0.839372,-1.212978,1.467177,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,-0.728431,1.190385,-1.128152,1.305075,-0.782881,-0.842081,1.530404,-0.616250,-0.739183,1.335858,-0.839372,2.189051,1.185971,1
211,-0.728431,-0.923001,-1.128152,-0.650715,-0.782881,0.936964,0.747917,1.196249,-0.739183,0.055276,-0.839372,-1.549777,-0.220054,1
212,-0.728431,-0.081387,-1.128152,-0.028418,-0.782881,-0.842081,0.887647,-0.616250,1.352845,-1.074650,-0.839372,1.334513,0.004910,1
213,1.372813,0.573201,-1.128152,-0.117318,-0.782881,-0.842081,-1.208299,-0.616250,-0.739183,-0.246038,1.191367,-0.365606,-1.018677,1
214,-0.728431,-0.548950,0.886405,-0.828514,-0.782881,0.936964,-1.906947,-0.616250,-0.739183,1.185202,1.191367,-0.367398,-0.066456,0

In [102]:
column_names = scaler.feature_names_in_
column_names

array(['gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'salary'], dtype=object)

In [110]:
from sklearn.metrics import precision_score, confusion_matrix, recall_score, f1_score, accuracy_score

In [104]:
precision_score(y_test, y_pred)

1.0

In [106]:
confusion_matrix(y_test, y_pred)

array([[19,  0],
       [12, 23]], dtype=int64)

In [108]:
f1_score(y_test, y_pred)

0.7931034482758621

In [109]:
recall_score(y_test, y_pred)

0.6571428571428571

In [111]:
accuracy_score(y_test, y_pred)

0.7777777777777778